/* Fill in your CSS code here */
.container {
    display: flex;
    min-height: 200px;
    align-items: center;
    align-content: center;
}

.main {
    font-size: 30px;
}

.column {
    flex: 1;
    padding: 10px;
}

.center-screen,
.feedback {
    text-align: center;
}

.right-screen {
    text-align: right;
}

.keyPressIntro {
    text-align: center;
    font-size: 30px;
}